<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <title>Rudo</title>
      <!-- plugins:css -->
      <link rel="stylesheet" href="/assetsAdmin/vendors/mdi/css/materialdesignicons.min.css" />
      <link rel="stylesheet" href="/assetsAdmin/vendors/css/vendor.bundle.base.css" />
      <!-- endinject -->
      <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icon.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icon.png">
      <link rel="manifest" href="/assets/images/icons/site.html">
      <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
      <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
      <meta name="apple-mobile-web-app-title" content="Molla">
      <meta name="application-name" content="Molla">
      <meta name="msapplication-TileColor" content="#cc9966">
      <!-- <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml"> -->
      <meta name="theme-color" content="#ffffff">
      <!-- Plugin css for this page -->
      <link rel="stylesheet" href="/assetsAdmin/vendors/jvectormap/jquery-jvectormap.css" />
      <link rel="stylesheet" href="/assetsAdmin/vendors/flag-icon-css/css/flag-icon.min.css" />
      <link rel="stylesheet" href="/assetsAdmin/vendors/owl-carousel-2/owl.carousel.min.css" />
      <link rel="stylesheet" href="/assetsAdmin/vendors/owl-carousel-2/owl.theme.default.min.css" />
      <!-- End plugin css for this page -->
      <!-- Layout styles -->
      <link rel="stylesheet" href="/assetsAdmin/css/style.css" />
      <!-- End layout styles -->
      <link rel="shortcut icon" href="/assets/images/icon.png" />
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
         integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
         crossorigin="anonymous"></script>
      <!-- Bootstrap JS -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
         integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
         crossorigin="anonymous"></script>
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.css"
         integrity="sha512-bs9fAcCAeaDfA4A+NiShWR886eClUcBtqhipoY5DM60Y1V3BbVQlabthUBal5bq8Z8nnxxiyb1wfGX2n76N1Mw=="
         crossorigin="anonymous"
         referrerpolicy="no-referrer" />
      <script
         src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.js"
         integrity="sha512-Zt7blzhYHCLHjU0c+e4ldn5kGAbwLKTSOTERgqSNyTB50wWSI21z0q6bn/dEIuqf6HiFzKJ6cfj2osRhklb4Og=="
         crossorigin="anonymous"
         referrerpolicy="no-referrer"></script>
   </head>
   <body>
      <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
         <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="/admin/home"><img src="/assets/images/adlogo1.png"
               alt="logo" /></a>
            <!-- <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/assetsAdmin/images/logo-mini.svg" alt="logo" /></a> -->
         </div>
         <ul class="nav">
            <li class="nav-item profile">
               <div class="profile-desc">
                  <div class="profile-pic">
                     <div class="count-indicator">
                        <img class="img-xs rounded-circle" src="/assetsAdmin/images/faces/me.png" alt="" />
                        <span class="count bg-success"></span>
                     </div>
                     <div class="profile-name">
                        <h5 class="mb-0 font-weight-normal">Aswin Ramesh</h5>
                        <span>Rudo Admin</span>
                     </div>
                  </div>
               </div>
            </li>
            <li class="nav-item nav-category">
               <span class="nav-link">Navigation</span>
            </li>
            <li class="nav-item menu-items">
               <a class="nav-link" href="/admin/home">
               <span class="menu-icon">
               <i class="mdi mdi-home"></i>
               </span>
               <span class="menu-title">Dashboard</span>
               </a>
            </li>
            <li class="nav-item menu-items">
               <a class="nav-link" href="/admin/users">
               <span class="menu-icon">
               <i class="mdi mdi-account"></i>
               </span>
               <span class="menu-title">Users</span>
               </a>
            </li>
            <li class="nav-item menu-items">
               <a class="nav-link" href="/admin/products">
               <span class="menu-icon">
               <i class="mdi mdi-table-large"></i>
               </span>
               <span class="menu-title">Products</span>
               </a>
            </li>
            <li class="nav-item menu-items">
               <a class="nav-link" href="/admin/addProduct">
               <span class="menu-icon">
               <i class="mdi mdi-arrow-up-bold"></i>
               </span>
               <span class="menu-title">Add Products</span>
               </a>
            </li>
            <li class="nav-item menu-items">
               <a class="nav-link" href="/admin/category">
               <span class="menu-icon">
               <i class="mdi mdi-chart-pie"></i>
               </span>
               <span class="menu-title">Categories</span>
               </a>
            </li>
            <li class="nav-item menu-items">
               <a class="nav-link" href="/admin/addCategory">
               <span class="menu-icon">
               <i class="mdi mdi-arrow-up-bold"></i>
               </span>
               <span class="menu-title">Add Category</span>
               </a>
            </li>
            <li class="nav-item menu-items">
               <a class="nav-link" href="/offers">
               <span class="menu-icon">
               <i class="mdi mdi-arrow-up-bold"></i>
               </span>
               <span class="menu-title">Offers</span>
               </a>
            </li>
            <li class="nav-item menu-items">
               <a class="nav-link" href="/coupon">
               <span class="menu-icon">
               <i class="mdi mdi-brightness-7"></i>
               </span>
               <span class="menu-title">Coupons</span>
               </a>
            </li>
            <li class="nav-item menu-items">
               <a class="nav-link" href="/addCoupon">
               <span class="menu-icon">
               <i class="mdi mdi-brightness-auto"></i>
               </span>
               <span class="menu-title">Add Coupons</span>
               </a>
            </li>
            <li class="nav-item menu-items">
               <a class="nav-link" href="/admin/adminOrders">
               <span class="menu-icon">
               <i class="mdi mdi-bell"></i>
               </span>
               <span class="menu-title">Orders</span>
               </a>
            </li>
         </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar p-0 fixed-top d-flex flex-row">
         <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/assetsAdmin/images/logo-mini.svg"
               alt="logo" /></a>
         </div>
         <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <ul class="navbar-nav navbar-nav-right">
               <li class="nav-item dropdown border-left">
                  <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#"
                     data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="mdi mdi-email"></i>
                  <span class="count bg-success"></span>
                  </a>
               </li>
               <li class="nav-item dropdown border-left">
                  <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                     data-bs-toggle="dropdown">
                  <i class="mdi mdi-bell"></i>
                  <span class="count bg-danger"></span>
                  </a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                     <div class="navbar-profile">
                        <img class="img-xs rounded-circle" src="/assetsAdmin/images/faces/me.png" alt="" />
                        <p class="mb-0 d-none d-sm-block navbar-profile-name">
                           Aswin Ramesh
                        </p>
                        <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                     </div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                     aria-labelledby="profileDropdown">
                     <h6 class="p-3 mb-0">Profile</h6>
                     <div class="dropdown-divider"></div>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item preview-item" onclick="logout()">
                        <div class="preview-thumbnail">
                           <div class="preview-icon bg-dark rounded-circle">
                              <i class="mdi mdi-logout text-danger"></i>
                           </div>
                        </div>
                        <div class="preview-item-content">
                           <p class="preview-subject mb-1">Log out</p>
                        </div>
                     </a>
                     <script>
                        function logout() {
                          // Redirect to the logout page or perform logout actions here
                          window.location.href = "/admin/logout";
                        }
                     </script>
                  </div>
               </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
               data-toggle="offcanvas">
            <span class="mdi mdi-format-line-spacing"></span>
            </button>
         </div>
      </nav>