
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blocked Page</title>
  <!-- Bootstrap CSS CDN -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: red;
      color: black;
      font-family: Arial, sans-serif;
      padding: 50px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>You've been blocked by the admin.</h1>
        <p>Please wait until they unblock you.</p>
      </div>
    </div>
  </div>
</body>
</html>
