<%- include('../layouts/header') %>


        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        
                        <li class="breadcrumb-item active" aria-current="page">About us</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            <div class="container">
	        	<div class="page-header page-header-big text-center" style="background-image: url('assets/images/about-header-bg.jpg')">
        			<h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
	        	</div><!-- End .page-header -->
            </div><!-- End .container -->

            <div class="page-content pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-3 mb-lg-0">
                            <h2 class="title">Our Vision</h2><!-- End .title -->
                            <p>Rudo, the heart of sneaker enthusiasts, is your go-to destination at Rudopedia for rare kicks, specializing in unique Adidas treasures. Unearth the extraordinary at Rudo.shop, where passion meets style, offering a curated collection that speaks volumes about the artistry of footwear.</p>
                        </div><!-- End .col-lg-6 -->
                        
                        <div class="col-lg-6">
                            <h2 class="title">Our Mission</h2><!-- End .title -->
                            <p>Our mission at Rudo is to redefine sneaker culture by providing a haven for enthusiasts seeking rare Adidas gems. We are dedicated to curating an exclusive collection at Rudopedia, ensuring every step reflects the passion and authenticity embedded in our unique footwear offerings. Explore the essence of sneaker artistry with our mission-driven commitment at Rudo.shop.





                            </p>
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->

                    <div class="mb-5"></div><!-- End .mb-4 -->
                </div><!-- End .container -->

                <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 mb-3 mb-lg-0">
                                <h2 class="title">Who We Are</h2><!-- End .title -->
                                <p class="lead text-primary mb-3">Rudo 1000+ strong team, downtown Lexington office Rare Adidas destination.</p><!-- End .lead text-primary -->
                                <p class="mb-2">As a powerhouse of passion, Rudo is not just a brand. We are a collective of over 1000 dedicated members, with our vibrant office nestled in the bustling energy of downtown Lexington. Together, we strive to make Rudopedia the ultimate destination for rare Adidas treasures at Rudo.shop.</p>

                                <a href="/shop" class="btn btn-sm btn-minwidth btn-outline-primary-2">
                                    <span>VIEW OUR PRODUCTS</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div><!-- End .col-lg-5 -->

                           
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-6 pb-6 -->

                

                    <hr class="mt-4 mb-6">

                    <h2 class="title text-center mb-4">Founder & CEO</h2><!-- End .title text-center mb-2 -->

<div class="row justify-content-center"><!-- Center the content -->

    <div class="col-md-4">
        <div class="member member-anim text-center">
            <figure class="member-media">
                <img src="assets/images/team/member-2.png" alt="member photo">

                <figcaption class="member-overlay">
                    <div class="member-overlay-content">
                        <h3 class="member-title">Aswin Ramesh<span>Founder & CEO</span></h3><!-- End .member-title -->
                        <p>Aswin Ramesh is an aspiring software engineer and the founder of rudoPedia.</p> 
                        <div class="social-icons social-icons-simple">
                            <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-youtube"></i></a>
                            <!-- <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a> -->
                            <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        </div><!-- End .soial-icons -->
                    </div><!-- End .member-overlay-content -->
                </figcaption><!-- End .member-overlay -->
            </figure><!-- End .member-media -->
            <div class="member-content">
                <h3 class="member-title">Aswin Ramesh<span>Founder & CEO</span></h3><!-- End .member-title -->
            </div><!-- End .member-content -->
        </div><!-- End .member -->
    </div><!-- End .col-md-4 -->

</div><!-- End .row -->


                    
                </div><!-- End .container -->

                
            </div><!-- End .page-content -->
        </main><!-- End .main -->

    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

   
<%- include('../layouts/footer') %>