<% include('../layouts/header.ejs') %>

<!DOCTYPE html>
<html lang="en">


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rudo</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icon.png">
    <link rel="manifest" href="/assets/images/icons/site.html">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div class="page-wrapper">
       

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb" style="display: flex; justify-content: space-between;">
                        <li class="breadcrumb-item active"><a href="index.html">SIGN UP</a></li>
                        <!-- <li class="breadcrumb" style="margin-left: auto;"><a href="/">HOME</a></li> -->
                    </ol>
                    
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('/assets/images/retro.jpg')">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    <li class="nav-item">
							        <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Register</a>
							    </li>
							</ul>
							<div class="tab-content">
							    

                                
							    <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">



							    	<form action="/login?ref=<%= ref %>" method="post" novalidate>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="fname">First Name</label>
                                                    <input type="text" class="form-control" id="fname" name="firstname" required>
                                                </div><!-- End .form-group -->
                                            </div><!-- End .col-md-6 -->

                                            

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="lname">Last Name</label>
                                                    <input type="text" class="form-control" id="lname" name="secondname" required>
                                                </div><!-- End .form-group -->
                                            </div><!-- End .col-md-6 -->

                                           
                                           
                                        </div><!-- End .row -->
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="register-email-2">Your email address *</label>
                                                    <input type="email" class="form-control" id="register-email-2" name="email" required>
                                                </div><!-- End .form-group -->
                                            </div><!-- End .col-md-6 -->
                                            
                                               
                                            

                                        
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="mobile">Mobile</label>
                                                    <input type="number" class="form-control" id="mobile" name="mobile" required>
                                                </div><!-- End .form-group -->
                                            </div><!-- End .col-md-6 -->

                                           
                                           


                                        </div><!-- End .row -->
                                        

							    		<div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="register-password-2">Password *</label>
                                                    <input type="password" class="form-control" id="register-password-2" name="password" required>
                                                </div><!-- End .form-group -->
                                            </div><!-- End .col-md-6 -->

                                           
                                           

                                        
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="confirm-password">Confirm Password *</label>
                                                    <input type="password" class="form-control" id="confirm-password" name="confirmPassword" required>
                                                </div><!-- End .form-group -->
                                            </div><!-- End .col-md-6 -->

                                          
                                            


                                        </div><!-- End .row -->
                                        
                                        

							    		<div class="form-footer">
							    			<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SIGN UP</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>

			                				<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="register-policy-2" required>
												<label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
											</div><!-- End .custom-checkbox -->
							    		</div><!-- End .form-footer -->
							    	</form>








							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->


                            <div class="text-center">
                                <p style="margin-bottom: 10px;">Already have an Account?</p>
                                <a href="/signin" class="btn btn-outline-primary-2">
                                    <span>LOG IN</span>
                                    <i class="icon-long-arrow-right"></i>
                                </a>
                            </div>
                            


						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->

       
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script>
            $(document).ready(function () {
                $('form').submit(function (event) {
                    var firstName = $('#fname').val();
                    if (firstName.includes(' ')) {
                        event.preventDefault(); // Prevent form submission
                        displayValidationMessage('The first name cannot contain spaces.', 'fname');
                    }
                });

                function displayValidationMessage(message, fieldId) {
                    // Remove any existing validation message
                    $('#' + fieldId + '-validation').remove();

                    // Append validation message
                    $('<div class="dropdown-message" id="' + fieldId + '-validation">' + message + '</div>')
                        .css({
                            'color': 'red',
                            'font-size': 'small'
                        })
                        .insertAfter($('#' + fieldId));
                }
            });

            
            $(document).ready(function () {
                                                    $('form').submit(function (event) {
                                                        // Validation for Last Name
                                                        var lastName = $('#lname').val();
                                                        if (lastName.includes(' ')) {
                                                            event.preventDefault();
                                                            displayValidationMessage('The last name cannot contain spaces.', 'lname');
                                                        }
                                                    });

                                                    function displayValidationMessage(message, fieldId) {
                                                        $('#' + fieldId + '-validation').remove();
                                                        $('<div class="dropdown-message" id="' + fieldId + '-validation">' + message + '</div>')
                                                            .css({
                                                                'color': 'red',
                                                                'font-size': 'small'
                                                            })
                                                            .insertAfter($('#' + fieldId));
                                                    }
                                                });


                                                $(document).ready(function () {
                                                    $('form').submit(function (event) {
                                                        // Validation for Email Address
                                                        var email = $('#register-email-2').val();
                                                        var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

                                                        if (!emailRegex.test(email)) {
                                                            event.preventDefault();
                                                            displayValidationMessage('Kindly input a valid email address.', 'register-email-2');
                                                        }
                                                    });

                                                    function displayValidationMessage(message, fieldId) {
                                                        $('#' + fieldId + '-validation').remove();
                                                        $('<div class="dropdown-message" id="' + fieldId + '-validation">' + message + '</div>')
                                                            .css({
                                                                'color': 'red',
                                                                'font-size': 'small'
                                                            })
                                                            .insertAfter($('#' + fieldId));
                                                    }
                                                });


                                                $(document).ready(function () {
                                                    $('form').submit(function (event) {
                                                        // Validation for Mobile Number
                                                        var mobileNumber = $('#mobile').val();

                                                        if (!/^\d{10}$/.test(mobileNumber)) {
                                                            event.preventDefault();
                                                            displayValidationMessage('Please enter a 10-digit mobile number', 'mobile');
                                                        }
                                                    });

                                                    function displayValidationMessage(message, fieldId) {
                                                        $('#' + fieldId + '-validation').remove();
                                                        $('<div class="dropdown-message" id="' + fieldId + '-validation">' + message + '</div>')
                                                            .css({
                                                                'color': 'red',
                                                                'font-size': 'small'
                                                            })
                                                            .insertAfter($('#' + fieldId));
                                                    }
                                                });
                                              

                                                $(document).ready(function () {
                                                    $('form').submit(function (event) {
                                                        // Validation for Password
                                                        var password = $('#register-password-2').val();

                                                        if (password.length < 7) {
                                                            event.preventDefault();
                                                            displayValidationMessage('Please enter a strong password (at least 8 characters)', 'register-password-2');
                                                        }
                                                    });

                                                    function displayValidationMessage(message, fieldId) {
                                                        $('#' + fieldId + '-validation').remove();
                                                        $('<div class="dropdown-message" id="' + fieldId + '-validation">' + message + '</div>')
                                                            .css({
                                                                'color': 'red',
                                                                'font-size': 'small'
                                                            })
                                                            .insertAfter($('#' + fieldId));
                                                    }
                                                });



                                                $(document).ready(function () {
                                                    $('form').submit(function (event) {
                                                        // Validation for Password Matching
                                                        var password = $('#register-password-2').val();
                                                        var confirmPassword = $('#confirm-password').val();

                                                        if (password !== confirmPassword) {
                                                            event.preventDefault();
                                                            displayValidationMessage('Password mismatch. Please ensure the passwords match.', 'confirm-password');
                                                        }
                                                    });

                                                    function displayValidationMessage(message, fieldId) {
                                                        $('#' + fieldId + '-validation').remove();
                                                        $('<div class="dropdown-message" id="' + fieldId + '-validation">' + message + '</div>')
                                                            .css({
                                                                'color': 'red',
                                                                'font-size': 'small'
                                                            })
                                                            .insertAfter($('#' + fieldId));
                                                    }
                                                });


                                                

        </script>























    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
</body>


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->
</html>

<% include('../layouts/footer.ejs') %>